<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>392948734105-asdjkmuc89f1e72ajmim8ivcph79ber9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.392948734105-asdjkmuc89f1e72ajmim8ivcph79ber9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>392948734105-c3go0vlkva51q52a2b4jt0bhslm0j0ff.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBoQ1u4ZcXYVmhqbiXo9Ue2-p4wppW5LaA</string>
	<key>GCM_SENDER_ID</key>
	<string>392948734105</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.foriyana.foriyanaapp</string>
	<key>PROJECT_ID</key>
	<string>m-mart-93570</string>
	<key>STORAGE_BUCKET</key>
	<string>m-mart-93570.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:392948734105:ios:c0934cc0ee2ec615cd0008</string>
</dict>
</plist>